body {
    margin: auto;
    max-width: 90%;
}
img {
  display: block;
  margin: auto;
  max-width: 90vw;
}
@media only screen and (min-width: 768px) {
  body {
  margin: auto;
  max-width: 50%;
  }
  img {
  display: block;
  margin: auto;
  max-width: 30%;
  }
}
nav ul, footer ul {
    font-family:Century, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:orpheus-pro, Philosopher, Utopia, serif;
    text-align:center;
}
h2 {
    font-size: 1.5em;
    font-family:Century, serif;
    text-decoration:underline;
}
p {
    font-size: 1em;
    font-family:Century, serif;
    text-align:justify;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
